@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}



<h1>Are You Sure You Want To Delete @Model.FName  @Model.LName Department</h1>
<div asp-validation-summary="All"></div>

<form asp-action="ConfirmDelete" method="post">

    <div class="form-group">
        <label class="col-form-label" asp-for="Id"></label>
        <input readonly class="form-control" asp-for="Id" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />
    </div>

    <partial name="PartialViews/DeleteDetailsPartialView" />



    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a class="btn btn-secondary" asp-controller="Department" asp-action="Index">Cancel</a>
</form>


