@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}



<h1>Create New Department</h1>
<br />

<form  asp-action="Create" method="post">

    <div class="form-group">
        <label  class="col-form-label" asp-for="RoleName"></label>
        <input class="form-control" asp-for="RoleName" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <input type="submit" value="Create" class="btn btn-primary" /> |

    <a class="btn btn-light"  asp-controller="Role" asp-action="Index">Back to list</a>
</form>




