@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>



<div asp-validation-summary="All"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="SendEmail" method="post">

			<input class="text email" placeholder="Email" asp-for="Email" required="">
			<span class="text-danger" asp-validation-for="Email"></span>

			<input type="submit" value="Reset Password">
		</form>
		
	</div>
</div>
@section Validation {

	<partial name="_ValidationScriptsPartial"></partial>
}
